.list__item {
  padding-bottom: 58px !important;
  border-radius: 5px !important;
}

.cart__item-info {
  width: 100%;
  height: 35px;
  object-fit: fill;
}

.cart__product-title {
  font-size: 0.8rem;
  font-weight: 600;
}

.cart__product-price {
  font-size: 0.8rem;
}

.cart__product-price span {
  font-size: 0.9rem;
  font-weight: 600;
  color: #df2020;
}

.increase__decrease-btn {
  background: #fde4e4;
  padding: 2px 5px;
  border-radius: 5px;
}

.ingrese__btn,
.delete__btn,
.decrease__btn {
  cursor: pointer;
}

.delete__btn {
  font-size: 1.1rem;
  font-weight: 600;
}
